<h1>Sign Up</h1>

<div class='notice' style="color:tomato;"><%= flash[:notice] if flash[:notice] %></div><br>
  <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
          <ul style="color:red">
            <li><%= error %></li>
          </ul>
          <% end %>
        <% end %>

<form action="/new" method="post">
  <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="user[name]">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="user[email_address]">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="user[password]">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="password" class="form-control" id="pwd" name="user[password_confirmation]">
  </div>

  <button type="submit">Register</button>
</form>
<p><%= link_to 'Login', root_path %></p>
